body{
    background-color: rgb(72, 240, 57);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.tasks{
    background-color: white;
    padding: 10px;
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

input[type="text"]{
    background-color: rgb(86, 223, 104);
    border-style: none;
    font-size: 1.5rem;
}

/* al cumplir una tarea quiero que se tache */
.task-done{
    text-decoration: line-through;
    color: gray;
}
button{
    margin-left: 5px;
    border-radius: 4px;
}
#tasks{
    margin-top: 20px;
}